* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo {
    font-family: "Unbounded", sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: orangered;
}

.hamburguer-menu {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.navbar ul li a .active {
    color: #fefefe;
    background: #fefefe;
}

@media only screen and (max-width: 1300px) {
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburguer-menu {
        display: block;
        cursor: pointer;       
    }
    .hamburguer-menu .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .navbar {
        height: 0;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        width: 100vw;
        background: #212121;
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 30vh;
    }
    
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 1vh auto auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        margin-bottom: 12px;
    }
}

.upper-main {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    height: 100vh;
    background: #292929;
}
.upper-main span {
    padding: 2.7vh 0;
    color: #fefefe;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 200ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 100ms), glitch 1s ease infinite 1s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 12px; }
  .stack span:nth-child(even) { --glitch-translate: -12px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
@keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
}

#code {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100vh;
}

.mid-main {
    height: 100vh;
    background: #232323;
    display: grid;
}

.text-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-main h2 {
    max-width: 500px;
    font-family: "Montserrat";
    font-size: 28px;
    padding: 0 40px;
}

.text-2 {
    color: #f7993b;
    text-align: center;
}

.text-1 {
    text-align: left;
    color: #eeeeee;
}

.text-3 {
    text-align: right;
    color: #eeeeee;
    
}

.text-container1 b {
    font-family: "Montserrat";
    color: rgb(243, 243, 75);
}

.video-container {
    padding: 10vh 0;
}

.bottom-main {
    text-align: center;
    background: #262626;
    height: 100vh;
    display: grid;
    align-items: center;
}

.bottom-main h3 {
    color: #fefefe;
    padding-top: 40px;
}

.download-b {
    background: orangered;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Kumbh Sans";
    color: #fefefe;
    margin-bottom: 7vh;
    border-width: 5px;
    border-color: orangered;
}

.download-b:hover {
    background: #49f232;
    color: black;
    border-color: rgba(143, 240, 91);
}

.download-b:active {
    background: #279518;
    border-color: #0a7919;
}

iframe {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    border-color: transparent;
}



.footer {
    height: 20vh;
    background: #171717;
    color: #fefefe;
    text-align: center;
}

.rights {
    padding-top: 3vh;
}

.ref-container {
    display: flex;
    justify-content: space-between;
    color: #fefefe;
    margin: 15px 50vh;
}

.ref-container a:link {
    color: #fefefe;
}

.ref-container a:visited {
    color: #fefefe;
}

.ref-container a:hover {
    color: #dddddd;
}