* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo {
    font-family: "Unbounded", sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: orangered;
}

.hamburguer-menu {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.navbar ul li a .active {
    color: #fefefe;
    background: #fefefe;
}

@media only screen and (max-width: 1300px) {
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburguer-menu {
        display: block;
        cursor: pointer;       
    }
    .hamburguer-menu .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .navbar {
        height: 0;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        width: 100vw;
        background: #212121;
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active {
        height: 30vh;
    }
    
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 1vh auto auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        margin-bottom: 12px;
    }
}

.main-part {
    display: block;
    height: 140vh;
    text-align: center;
    background-color: #242424;
}

.main-part h1 {
    padding: 3.4vh 0;
    color: #fefefe;
}

#java-logo {
    width: 50vh;
    border-radius: 10px;
}

.main-part h2 {
    padding: 3.4vh 0;
    color: azure;
    font-family: "Montserrat";
    font-size: 19px;
}

.main-part h3 {
    color: coral;
}

#code {
    margin: 4vh 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.under1 {
    height: 100vh;
    background-color: #242424;
    text-align: center;
}

.under1 h3 {
    color: #fefefe;
    font-size: 25px;
    padding-bottom: 20px
}

.under1 h4 {
    font-size: 19px;
    color:  #fefefe;
    padding-bottom: 10px;
}

.under1 h5 {
    color: beige;
    font-size: 15px;
    padding-bottom: 5px;
}
