* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo {
    font-family: "Unbounded", sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: orangered;
}

.logo a:visited {
    color: orangered;
}

.hamburguer-menu {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.navbar ul li a .active {
    color: #fefefe;
    background: #fefefe;
}

@media only screen and (max-width: 1300px) {
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburguer-menu {
        display: block;
        cursor: pointer;       
    }
    .hamburguer-menu .line {
        width: 30px;
        height: 3px;
        background: #fcfcfc;
        margin: 6px 0;
    }
    .navbar {
        height: 0;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        width: 100vw;
        background: #212121;
        transition: 0.2s;
        overflow: hidden;
        z-index: 3;
    }

    .navbar.active {
        height: 30vh;
    }
    
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 1vh auto auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .logo a:visited {
        color: orangered;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul li a {
        margin-bottom: 12px;
    }
}

.top-part {
    height: 100vh;
    background: #232323;
    text-align: center;
}

.top-part span {
    padding: 15vh 3.8vh 0 0;
    color: #fefefe;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 3.8rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 200ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 100ms), glitch 1s ease infinite 1s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 12px; }
  .stack span:nth-child(even) { --glitch-translate: -12px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
@keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
}

#logo {
    padding-top: 10vh;
}

.after-top {
    background-color: #272727;
    height: 100vh;
}

.after-top h2, h3 {
    text-align: center;
    color: #fefefe;
    font-family: "Kumbh Sans";
}

h2 {
    font-size: 60px;
    padding-top: 40px;
}

h3 {
    font-size: 20px;
    color: rgb(100, 147, 195);
    padding-bottom: 7vh;
}

caption {
    caption-side: bottom;
    padding-top: 15px;
    font-family: "Montserrat";
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #454545;
    border-collapse: collapse;
    color: aliceblue;
}

th {
    font-family: "Kumbh Sans";
    background: #373737;
}

td, th {
    border: 1px solid #454545;
    padding: 5px 10px;
}

td {
    text-align: center;
    background: #313131;
}

caption a {
    color:aliceblue;
}

caption a:visited {
    color: aliceblue;
}

h4 {
    max-width: 900px;
    margin: auto;
    padding-top: 100px;
    color: azure;
    font-family: "Kumbh Sans";
    font-size: 22px;
}